<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969675328331-rbn5emjtabvj9e52hma9k0raaesq0542.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969675328331-rbn5emjtabvj9e52hma9k0raaesq0542</string>
	<key>API_KEY</key>
	<string>AIzaSyBlPU_nfqXoKLXi1N8iNlK8PuJriDkKCNI</string>
	<key>GCM_SENDER_ID</key>
	<string>969675328331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threads.clone</string>
	<key>PROJECT_ID</key>
	<string>toutlaissecom</string>
	<key>STORAGE_BUCKET</key>
	<string>toutlaissecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969675328331:ios:485c20d2ce22b4a5da36ce</string>
</dict>
</plist>